.section {
  background-color: #f8f8f8;
  padding: 140px 16px;
  text-align: center;
}

.title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.card:not(:last-child) {
  margin-bottom: 20px;
}

.img {
  margin-bottom: 20px;
  border-radius: 50%;
}

.name {
  margin-bottom: 20px;
}

.button {
  margin-top: 50px;
  padding: 4px 18px;
  background-color: #f4e041;
  border-radius: 100px;
  border-color: transparent;
  height: 34px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 140px 32px;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  .card:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 140px 60px;
    max-width: 1170px;
    margin: 0 auto;
  }
  .list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 29px;
    grid-row-gap: 29px;
  }
}

@media screen and (min-width: 2560px) {
  .section {
    padding: 140px 0;
  }
}
