@import '../../scss/variables';

.section {
  background-color: $background-color;
  padding: 140px 16px;
  text-align: center;
}

.title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background-color: $additional-color;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.img {
  margin-bottom: 20px;
  border-radius: 50%;
}

.name {
  margin-bottom: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.button {
  margin-top: 50px;
  padding: 4px 18px;
  background-color: $primary-color;
  border-radius: 100px;
  border-color: transparent;
  height: 34px;
  filter: $btns-drop-shadow;
  &:hover {
    filter: none;
  }
}

// tooltips styling

.tooltip_container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip_container .tooltip_text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: $additional-color;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 10000;
}

.tooltip_container:focus .tooltip_text {
  visibility: visible;
}

// tooltips styling

@media screen and (min-width: $tablet) {
  .section {
    padding: 140px 32px;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  .card:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: $desktop) {
  .section {
    padding: 140px 60px;
    max-width: 1170px;
    margin: 0 auto;
  }
  .list {
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-column-gap: 29px;
    grid-row-gap: 29px;
  }
}

@media screen and (min-width: $desktop-2k) {
  .section {
    padding: 140px 0;
  }

  .list {
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  }
}
