.hero-section {
  background-image: url('../../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  padding: 164px 322px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
}
