@import '../../scss/variables';

.header {
  background-color: $additional-color;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 13px 16px;
}

.nav_links_list {
  display: flex;
}

.nav_links_item:last-child {
  margin-left: 10px;
}

.link {
  background-color: $primary-color;
  border-radius: 100px;
  width: 100px;
  height: 34px;
  padding: 4px 18px;
  cursor: pointer;
  filter: $btns-drop-shadow;
  &:hover {
    filter: none;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    padding: 13px 32px;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    padding: 13px 60px;
    max-width: 1170px;
  }
}

@media screen and (min-width: $desktop-2k) {
  .container {
    padding: 13px 0;
  }
}
